<div class="pertitle">
    <div class="abstrach-pertheme" themeid="<%= pertheme._id %>">
        <span class="pertheme-title"><%= pertheme.title %></span>
        <span class="tips"><%=  pertheme.reply_count  %>/<%=  pertheme.visit_count  %></span>
        <% if(pertheme.secret) { %>
        <span class="yincang">隐藏</span>
        <%  }  %>
    </div>
    <div style="display:none" class="edit-dele">
         <span>
             <input class="btn-delete" type="button" value="删除" />
             <input class="btn-edit" type="button" value="编辑" />
             <%  if(pertheme.secret){ %>
             <input class="btn-secret" type="button" value="显示" />
             <%  }else{ %>
             <input class="btn-secret" type="button" value="隐藏" />
             <%  } %>
        </span>
    </div>
</div>