
<div class="content">
    <div class="themelisthead">
        <%    types.forEach(function(tab,i){ %>
        <span class="<%= currenttab===tab?'themetab-static':'themetab' %>"><a href="/?tab=<%= tab %>"><%= tab %></a></span>
        <% }); %>
    </div>
    <% if(typeof(theme) !== 'undefined' && theme.length > 0) { %>
    <div class="themelist">
        <%- partial('abstract', {collection:theme, as:'pertheme'}) %>
    </div>
    <div class="navi">
        <%  var pagen = Math.ceil(count/config.list_topic_count)  %>
        <% if(pagen == 1){ %>

        <% }else if(page > 1 && page < pagen) { %>
        <span class="navileft"><a href="/?page=<%= page-1 %>"><<</a></span>
        <span class="naviright"><a href="/?page=<%= page+1 %>">>></a></span>
        <% }else if(page == pagen) {%>
        <span class="navileft"><a href="/?page=<%= page-1 %>"><<</a></span>
        <%}else if(page == 1){%>
        <span class="naviright"><a href="/?page=<%= page+1 %>">>></a></span>
        <% }%>
    </div>
    <% } else { %>
    <div>
        <p class="notheme">没有主题</p>
    </div>
    <% } %>
</div>
