<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <% if(typeof(title) !== 'undefined' && title) {%>
    <title><%=  title  %></title>
    <% } %>
    <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="/stylesheets/common.css" type="text/css" />
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" />
    <link rel="stylesheet" href="/libs/editor/editor.css" type="text/css" />
    <link rel="stylesheet" href="/libs/webuploader/webuploader.css" type="text/css" />
    <link rel="stylesheet" href="/libs/code-prettify/prettify.css" type="text/css" />
    <link rel="stylesheet" href="/libs/font-awesome/css/font-awesome.css" type="text/css" />
    <link rel="stylesheet" href="/stylesheets/layout.css" />

    <script src="/libs/jquery-2.1.0.js"></script>
    <script src="/libs/bootstrap/js/bootstrap.js"></script>
    <script src="/libs/markdownit.js"></script>
</head>
<body>
    <div class="navigate">
        <div id="headdiv"><a href="/">好想吃肉的Blog</a></div>
        <div id="navi">
            <ul>
                <li>关于</li>
                <li>联系</li>
                <li>搜索</li>
                <li><a href="/str">小工具</a></li>
                <% if(typeof(user) !== 'undefined' && user === 'admin') { %>
                <li><a href="/signout">登出</a></li>
                <% }else{ %>
                <li><a href="/login">登陆</a></li>
                <% } %>
            </ul>
        </div>
        <div id="searchdiv">
            <form id="search_form" class="navbar-search" action="/search">
                <select name="tabs" id="search-select">
                    <option value="title" selected>标题</option>
                    <option value="content">内容</option>
                </select>
                <input type="text" id="q" name="q" class="search-query span3" value="">
            </form>
        </div>

    </div>

    <div id="main">
        <% if(typeof(sidebar) !== 'undefined' && sidebar){ %>
        <div class="side-div">
            <%- partial('sidebar') %>
        </div>
        <% } %>
        <div class="main-div">
            <%- body %>
        </div>

    </div>
    <div class="down">
        <!-- <p class="end"><%= config.description %></p>
        <p class="end"><%= config.keywords %></p> -->
        <p class="end">沪ICP备17047617号</p>
    </div>
</body>
</html>