.navigate{
    height:50px;
    font-size: 20px;
    background-color: #f0f0f0;
}
body{
    background-color: #e5e5e5;
}
.down{
    clear:both;
    position: relative;
    background-color:#f6f6f6;
    text-align: center;
}
#main{
    margin:10px auto;
}
.sidebar{
    float:left;
    width: 180px;

}
.name{
    text-align: center;
}
.content{
    margin-left:185px;
}
.author-card{
    margin-bottom:15px;
}
.top-theme{
    margin-bottom:15px;
}
.top-reply{
    margin-bottom:15px;
}
.head{
    background-color: #f0f0f0;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.themeitem{
    text-overflow: ellipsis;
    overflow: hidden;
}
.innerside{
    padding:10px;
    background-color:#f6f6f6;
}
.abstrach-pertheme{
    padding:10px;
    border-top-color: #eeeeee;
    border-top-width: 1px;
    border-top-style:solid;
}
.abstrach-pertheme:hover{
    background-color: #f1f1f1;
}
.abstrach-pertheme:eq(0){
    border-top-style:none;
}
.tips{
    float:right;
}
.portait{
    text-align: center;
    padding-bottom: 5px;
}
a{
    color: #000000;
}
a:hover{
    color:#404040;
    text-decoration: none;
    font-weight: bold;
}
a:visited{
    color:#6a6a6a;
}
.end{
    font-size: 11px;
    margin-bottom: 0px;
}
.navi{
    opacity: 0.4;
    text-align: center;
}
.navileft{
    padding-right: 5px;
}
.naviright{
    padding-left: 5px;
}
.theme{
    margin-bottom: 20px;
}
.themehead{
    border-bottom-color: #f9f9f9;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    background-color: #f1f1f1;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding: 10px;
}
.themecontent{
    padding: 10px;
    background-color: #f1f1f1;
}
.themetitle{
    font-size: 20px;
    padding-bottom: 10px;
}
.themeinfos{
    text-align: right;
}
.themei{
    border-right-style: solid;
    border-right-color: #f9f9f9;
    border-right-width: 1px;
    padding-right: 5px;
    padding-left: 5px;
}
.themei:nth-child(1){
    padding-left: 0px;
}
.themei:nth-child(4){
    padding-right: 0px;
    border-right-style: none;
}
.edit-reply{
    background-color: #f1f1f1;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    margin-bottom: 10px;
}

img{
    max-width:100%;
    max-height:100%;
}
.reply{
    background: #f1f1f1;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.perreply{
    padding-left: 10px;
    border-top-color: #999999;
    border-top-style: solid;
    border-top-width: 1px;
}
.perreply:nth-child(1){
    border-top-style:none;
}
.replyinfo{
    padding-top: 5px;
    font-size: 12px;
}
.replyauthor{
    padding-right: 10px;
}
.replyhead{
    display: inline-block;
}
.userControl{
    float:right;
    padding-right:10px;
}
.hehe{
    padding-right:5px;
}
.hehe:nth-child(3){
    padding-right: 0px;
}
.replyat{
    padding-left: 100px;
}
.editor_buttons{
    padding-left: 10px;
    padding-bottom: 10px;
}
.CodeMirror{
    height:180px;
}
.themelist{
    background-color: #f6f6f6;
}
.themelisthead{
    padding: 10px;
    background-color: #f2f2f2;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.themetab-static{
    background-color: rgba(0, 0, 0, 0.075);
    padding: 4px;
    border-radius: 5px;
}
.themetab:hover{
    background-color: rgba(0, 0, 0, 0.075);
    padding: 4px;
    border-radius: 5px;
}
.yincang{
    float: right;
    padding-right: 10px;
}
#searchdiv{
    float: right;
    padding-right: 20px;
}
#headdiv{
    float: left;
    padding-top: 14px;
    padding-left: 20px;
}
#search-select{
    margin-top: 6px;
    width:auto;
    background-color: #eee;
}
.themecontent table{border-right:1px solid #333;border-bottom:1px solid #333} 
.themecontent table td{border-left:1px solid #333;border-top:1px solid #333;padding:10px} 
.themecontent table th{border-left:1px solid #333;border-top:1px solid #333;padding:10px}
#navi ul{
    float:right;
    list-style: none;
    padding-top:13px;
    font-size: 10px;
}
#navi li{
    float:left;
    padding-right: 10px;
}
#hexcode{
    float: left;
    padding: 10px;
    background-color: #cccccc;
    margin: 5px;
    border-radius: 10px;
}
#strcode{
    float: right;
    padding: 10px;
    background-color: #cccccc;
    margin: 5px;
    border-radius: 10px;
}
.hex-str{
    height: 400px;
    width: 400px
}
#codebutton{
    float: left;
    margin: auto 10px;
    /* margin-top: 18%; */
    /* height: 50%; */
    margin-top: 200px;
}