<div class="admin">
    <div class="control">
        <input type="button" class="person" value="编辑个人信息" />
        <input type="button" class="person" value="发布新文章" />
        <input type="button" class="editanddele" value="编辑删除"/>
    </div>
    <div>
        <div class="content">
            <% if(typeof(theme) !== 'undefined' && theme.length > 0) { %>
            <div class="themelist">
                <%- partial('abstract2', {collection:theme, as:'pertheme'}) %>
            </div>
            <div class="navi">
                <%  var pagen = Math.ceil(count/config.list_topic_count)  %>
                <% if(pagen == 1){ %>

                <% }else if(page > 1 && page < pagen) { %>
                <span class="navileft"><a href="/?page=<%= page-1 %>"><<</a></span>
                <span class="naviright"><a href="/?page=<%= page+1 %>">>></a></span>
                <% }else if(page == pagen) {%>
                <span class="navileft"><a href="/?page=<%= page-1 %>"><<</a></span>
                <%}else if(page == 1){%>
                <span class="naviright"><a href="/?page=<%= page+1 %>">>></a></span>
                <% }%>
            </div>
            <% } else { %>
            <div>
                <p class="notheme">没有主题</p>
            </div>
            <% } %>
        </div>
    </div>
    <div class="newtheme">
        <% if(typeof(error) !== 'undefined' && error){ %>
        <div class="alert alert-error">
            <strong><%= error %></strong>
        </div>
        <% } %>
        <form  action='/admin' method='post'>
            <fieldset>
                <span class="tab-selector">选择类别：</span>
                <select name="tab" id="tab-value">
                    <option value="">请选择</option>
                    <%
                    var tabValue = '';
                    if (typeof(tab) !== 'undefined') {
                    tabValue = tab;
                    }
                    config.tabs.forEach(function (pair) {
                    var value = pair[0];
                    var text = pair[1];
                    %>
                    <option value="<%=value%>" <%= tabValue === value ? 'selected': '' %>><%=text%></option>
                    <%});%>
                </select>
                <span id="topic_create_warn"></span>
                <textarea autofocus class='span9' id='title' name='title' rows='1'
                          placeholder="标题字数 10 字以上"
                ><%= title_e %></textarea>

                <div class='markdown_editor in_editor'>
                    <div class='markdown_in_editor'>
                <textarea class='editor' name='t_content' rows='20'
                          placeholder='文章支持 Markdown 语法, 请注意标记代码'
                ><%=  content  %></textarea>

                        <div class='editor_buttons'>
                            <input type="submit" class='span-primary submit_btn' data-loading-text="提交中"
                                   value="提交">
                        </div>
                    </div>

                </div>

            </fieldset>
        </form>
    </div>
</div>
<!-- markdown editor -->
<%- partial('editor') %>
<script>
    (function () {
        var editor = new Editor();
        editor.render($('.editor')[0]);

        // 版块选择的检查，必须选择
        $('#create_topic_form').on('submit', function (e) {
            var tabValue = $('#tab-value').val();
            if (!tabValue) {
                alert('必须选择一个版块！');
                $('.submit_btn').button('reset');
                $('.tab-selector').css('color', 'red');
                return false;
            }
        });
        // END 版块选择的检查，必须选择

    })();
    $('.pertitle').hover(function () {
        var $this=$(this);
        $this.children('.edit-dele').show();
    },function () {
        var $this=$(this);
        $this.children('.edit-dele').hide();
    });
    $('.btn-delete').click(function () {
        var $this = $(this);
        var theme=$this.parent().parent().prev();
        var hehe = $this.parent().parent().prev().attr('themeid');
        $.ajax({
            url:'/theme/'+hehe+'/delete',
            method:'POST'
        }).done(function (data) {
            if(data.success){
                theme.parent().remove();
            }else{
                alert(data.message);
            }
        });
    });
    $('.btn-edit').click(function () {
        var $this = $(this);
        var hehe = $this.parent().parent().prev().attr('themeid');
        window.location.href='/theme/'+hehe+'/edit';
    });
    $('.btn-secret').click(function () {
        var $this = $(this);
        var theme=$this.parent().parent().prev();
        var hehe = $this.parent().parent().prev().attr('themeid');
        var isSecret = $this.attr('value') === '隐藏'?false:true;
        var url_add = '/theme/'+hehe+'/addsecret';
        var url_dele = '/theme/'+hehe+'/delesecret';
        $.ajax({
            url:isSecret?url_dele:url_add,
            method:'POST'
        }).done(function (data) {
            if(data.success){
                if(!isSecret){
                    var hidden = '<span class = "yincang" > 隐藏</span>';
                    theme.append(hidden);
                    $this.attr('value','显示');
                }else{
                    theme.children('.yincang').remove();
                    $this.attr('value','隐藏');
                }

            }else{
                alert(data.message);
            }
        });
    });
    $('.btn-dele_secret').click(function () {
        var $this = $(this);
        var theme=$this.parent().parent().prev();
        var hehe = $this.parent().parent().prev().attr('themeid');
        $.ajax({
            url:'/theme/'+hehe+'/delesecret',
            method:'POST'
        }).done(function (data) {
            if(data.success){
                theme.children('.yincang').remove();
                $this.attr('value','隐藏');
            }else{
                alert(data.message);
            }
        });
    });
</script>