<div>
    <%- partial('sidebar') %>
</div>
<div class="content">
    <div class="themelisthead">

        <%  if(typeof(config.tabs) !== 'undefined' && config.tabs.length > 0) { %>
        <%  var tabs = config.tabs;
            var tt = typeof(currenttab) !=='undefined'?currenttab:''; %>
        <span class="<%= tt==='all'?'themetab-static':'themetab' %>"><a href="/?tab=all">全部</a></span>
        <%    tabs.forEach(function(tab,i){ %>
        <span class="<%= tt===tab[0]?'themetab-static':'themetab' %>"><a href="/?tab=<%= tab[0] %>"><%= tab[1] %></a></span>
        <% }); %>
        <% } %>
    </div>
    <% if(typeof(theme) !== 'undefined' && theme.length > 0) { %>
    <div class="themelist">
        <%- partial('abstract', {collection:theme, as:'pertheme'}) %>
    </div>
    <div class="navi">
        <%  var pagen = Math.ceil(count/config.list_topic_count)  %>
        <% if(pagen == 1){ %>

        <% }else if(page > 1 && page < pagen) { %>
        <span class="navileft"><a href="/?page=<%= page-1 %>"><<</a></span>
        <span class="naviright"><a href="/?page=<%= page+1 %>">>></a></span>
        <% }else if(page == pagen) {%>
        <span class="navileft"><a href="/?page=<%= page-1 %>"><<</a></span>
        <%}else if(page == 1){%>
        <span class="naviright"><a href="/?page=<%= page+1 %>">>></a></span>
        <% }%>
    </div>
    <% } else { %>
    <div>
        <p class="notheme">没有主题</p>
    </div>
    <% } %>
</div>
