<div class="sidebar">
    <div class="author-card">
        <div class="head">作者简介</div>
        <div class="innerside">
            <div class="portait">
                <img src="/images/portrait.png" />
            </div>
            <p class="name"><%= config.author %></p>
            <p class="item">发布的主题数量：<%= count %></p>
        </div>
    </div>
    <div class="top-theme">
        <div class="head"><span>浏览最多的主题</span></div>
        <div class="innerside">
        <%  if(typeof(topview) !== 'undefined' && topview.length > 0) {
            topview.forEach(function(th){ %>
            <p class="themeitem"><a href="/theme/<%= th._id %>"><nobr><%= th.title %></nobr></a> </p>
            <% }); %>
        <% } %>
            </div>
    </div>
    <div class="top-reply">
        <div class="head"><span>评论最多的主题</span></div>
        <div class="innerside">
        <%  if(typeof(topreply) !== 'undefined' && topreply.length > 0) {
            topreply.forEach(function(th){ %>
                <p class="themeitem"><a href="/theme/<%= th._id %>"><nobr><%= th.title %></nobr></a> </p>
            <% }); %>
        <% } %>
        </div>
    </div>
</div>